/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require gritter
 *= require_self
 */
@import "foundation_and_overrides";
@import "font-awesome";
.custom-button-class { @include button($padding: $button-lrg, $radius: 100px);
                       margin-top: 0.7em;
                     }
.follow-button {
@include button($padding: $button-sml, $radius: 10px);
                       margin-top: 0.2em;

}
.fa-stack {
  width: 1em;
  height: 1em;
  bottom: 0.5em;
}
.fa-broken-heart .fa-heart
{
    color:darkred;
    transform:scale(0.5,0.5); /* W3C */
    -webkit-transform:scale(0.5,0.5); /* Safari and Chrome */
    -moz-transform:scale(0.5,0.5); /* Firefox */
    -ms-transform:scale(0.5,0.5); /* IE 9 */
    -o-transform:scale(0.5,0.5); /* Opera */

}
.fa-heart
{
    color:darkred;
}


.fa-broken-heart .fa-flash
{
  color: #008ab7 !important;
  padding-left: 0.55em;
  transform:scale(0.8,0.7); /* W3C */
  -webkit-transform:scale(0.8,0.7); /* Safari and Chrome */
  -moz-transform:scale(0.8,0.7); /* Firefox */
  -ms-transform:scale(0.8,0.7); /* IE 9 */
  -o-transform:scale(0.8,0.7); /* Opera */
}
meta.foundation-data-attribute-namespace {
  font-family: false; }
input.boolean, label.boolean {
  margin-right:5px;
}
.top-bar {
  border-bottom: 3px solid #188A68;
  height: 3em;
}
nav.top-bar.expanded {z-index: 1000;}
.content {
  top: -20px;
}
/* ul.search-result li, a{ */
/* background: #188A68; */
/* color: #188A68; */
/* width: 100%; */
/* hr{ */
/*   margin: 0px; */
/* } */
/* } */
/* ul.search-result div{ */
/* background: #188A68; */
/* color: #188A68; */
/* width: 100%; */
/* } */

low { padding-left: 40px;
  color: #188A68; }
ul.search-result li {
width: 100%;
background-color: #000;
hr{
  margin: 0px;
}

}
.top-bar-section ul li > a {
background-color: #188A68 !important;
color: #ffffff;
width: 100%;
}
$f-dropdown-content-padding: 10px;
#users_dropdown.search-result{
padding-top: 0px;
padding-bottom: 0px;
padding-right: 0px;
padding-left: 0px;
background-color: #188A68 !important;
color: #ffffff;
border: none;
max-width: 12rem;
}
.has-form {
  left: 2rem; // adjust distance from left here
  width: 14rem; // adjust width here
  .search-result {
    top: -20px;
  }
  .button {
    top: -20px;
    left: 12rem; // adjust distance from left here
    height: 1.85rem;
    max-width: 2rem;
  }
  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;
  }
}
